/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
a {
  width: 5999999999999px;
  overflow: auto;
  -moz-box-shadow: 1px 1px 0 #ccc;
  -webkit-box-shadow: 1px 1px 0 #ccc;
  box-shadow: 1px 1px 0 #ccc; }
